.file-list-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    text-align: center;
}

/* Liste de fichiers */
.file-list {
    list-style: none;
    padding: 0;
}

.file-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.file-item:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.file-info {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
}

.file-preview {
    margin-bottom: 10px;
}

.file-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.file-view-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.file-view-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-btn:hover {
    background-color: #0056b3;
}

.pagination-btn.active {
    background-color: #0056b3;
    cursor: default;
    opacity: 0.8;
}
